<section class="login-form">
  <form
    name="loginForm"
    ng-submit="loginCtrl.login()" novalidate>

    <div ng-class="{
      'error': loginForm.username.$invalid,
      'success': logForm.username.$valid
    }">
      <input type="text"
      name="username"
      placeholder="username"
      class="input-std"
      ng-minlength="4"
      ng-model="loginCtrl.user.username" required>
    </div>

    <div class="{
      'error': loginForm.password.$invalid && loginForm.$submitted,
      'success': loginForm.password.$valid
    }">
      <input type="password" name="password"
      nd-disabled="loginForm.username.$invalid"
      placeholder="password"
      class="inpud-std"
      ng.minlength="3"
      ng-model="loginCtrl.user.password" required>
    </div>

    <button type="btn-std">login</button>
  </form>
</section>
