@import '../lib/vars';

html body {
  height: 100%;
  margin: 0 auto;
  background-color: #ddd;
}

h1 {
  font-size: 4vw;
  text-decoration: underline;
  margin-bottom: 5vw;
}

h2 {
  font-size: 2vw;
  margin-bottom: 1vw;

  &.gear-title {
    font-size: 3vw;
    margin-bottom: 2vw;
    text-decoration: underline;
  }
}

main{
  max-width: 960px;
  width: 90%;
  margin: 5% 5%;
  min-height: 750px;
  margin-top: 15vw;
}

footer {
  height: 10vw;
  width: 100%;
  background-color: $site-tertiary;
}

button {
  cursor: pointer;
}

.btn-std {
  background-color: #444;
  border-radius: 3px;
  font-size: 1.5vw;
  color: #fff;
  cursor: pointer;
}

.btn-std:hover {
  outline: none;
}
