@import '../lib/vars';

html body {
  height: 100%;
  margin: 0 auto;
  background-color: $site-quaternary;
}

main{
  max-width: 960px;
  width: 90%;
  margin: 5% 5%;
  min-height: 750px;
}

footer {
  height: 6vw;
  width: 100%;
  background-color: $site-primary;
}
