@import '../../../scss/lib/vars';

.display-gear {
  float: right;
  display: inline-block;
  width: 35.3vw;
  overflow: scroll;


  h2 {
    font-size: 6vw;
  }

  .table-wrapper {
    border: 2px black solid;
    border-radius: 5px;

    .table-tab {
      font-family: $font-std;
      display: inline-block;
      font-size: 3vw;
      padding: .5vw;
      margin: none;
      // width: 30.15%;
      width: 10.54vw;
      border-bottom: 2px solid black;
      float: left;
    }

    .table-tab[name="audio"] {
      background-color: rgba(157, 68, 68, .7);
      border-right: 2px solid black;
    }

    .table-tab[name="lighting"] {
      background-color: rgba(83, 119, 139, .7);
      border-right: 2px solid black;
    }

    .table-tab[name="stage"] {
      background-color: rgba(57, 86, 131, .7);
    }

    table {
      height: 20vw;

      tr {
        width: 100%;

        td:first-child{
          width: 32.5%;
          border-bottom: 2px solid black;
          border-right: 2px solid black;
        }

        td:nth-child(2){
          width: 65%;
          border-bottom: 2px solid black;
        }
      }
    }

    table[name="audio"] {
      background-color: rgba(157, 68, 68, .7);
      width: 100%;
    }

    table[name="lighting"] {
      background-color: rgba(83, 119, 139, .7);
      width: 100%;
    }

    table[name="stage"] {
      background-color: rgba(57, 86, 131, .7);
      width: 100%;
    }
  }

  .placeholder {
    background-color: white;
    height: 20vw;
    border: 2px solid black;
    border-radius: 5px;
  }
}


.clearfix {
  clear: both;
  height: 0;
  width: 100%;
}
