<section class="display-gear">
  
  <h2>Gear</h2>
  <div class="table-wrapper">

    <div class="table-tab"><span>Audio</span></div>
    <div class="table-tab"><span>Lighting</span></div>
    <div class="table-tab"><span>Stage</span></div>

    <table class="gear-table" name="audio">
    <tr>
      <td></td>
    </tr>
    </table>

    <table class="gear-table" name="lighting">
    <tr>
      <td></td>
    </tr>
    </table>

    <table class="gear-table" name="stage">
    <tr>
      <td></td>
    </tr>
    </table>

  </div>

</section>
