<section class="display-gear">

  <h2>Gear</h2>
  <div class="table-wrapper">

    <div class="table-tab" ng-click="displayGearCtrl.showAudio()"><span>Audio</span></div>
    <div class="table-tab" ng-click="displayGearCtrl.showLighting()"><span>Lighting</span></div>
    <div class="table-tab" ng-click="displayGearCtrl.showStage()"><span>Stage</span></div>

    <!-- <table ng-repeat="category in displayGearCtrl.gearArray" name="category">
      <tr ng-repeat="item in category">
        <td> {{ item.name }} </td>
        <td> {{ item.description }} </td>
      </tr>
    </table> -->

    <table name="audio" ng-if="displayGearCtrl.displayAudio">
      <tr ng-repeat="item in displayGearCtrl.audioArray">
        <td> {{ item.name }} </td>
        <td> {{ item.description }} </td>
      </tr>
    </table>

    <br></br>

    <table name="lighting" ng-if="displayGearCtrl.displayLighting">
      <tr ng-repeat="item in displayGearCtrl.lightingArray">
        <td> {{ item.name }} </td>
        <td> {{ item.description }} </td>
      </tr>
    </table>

    <br></br>

    <table name="stage" ng-if="displayGearCtrl.displayStage">
      <tr ng-repeat="item in displayGearCtrl.stageArray">
        <td> {{ item.name }} </td>
        <td> {{ item.description }} </td>
      </tr>
    </table>
  </div>
</section>

<edit-gear gear=displayGearCtrl.gear></edit-gear>
