<section class="aboutus-content">
  <h1>Want to get to know a little bit more about us?</h2>

  <div class="people">
    <h3> Shiv: Shiv is a software engineer and business consultant with an expertise in starts ups that is on the journey to find the intersection point between technology, art, and logic to create everlasting progressive changes and inspiration. </h1>
  </div>

  <div class="people">
    <a href="http://imgur.com/gv0EtCK"><img class="about" src="http://i.imgur.com/gv0EtCK.jpg"/></a>
    <div class="overlay">
      <div class="text">Nikko: I’m a full-stack Javascript developer with a passion for technologies that communicate. I build dynamic platforms for producers to reach their markets. With over 10 years in service-industry experience and management, I bring a consumer-based focus to development. (Also, to have a little fun with it).</div>
    </div>
  </div>

  <div class="people">
    <a href="http://imgur.com/VweQjCB"><img class="about" src="http://i.imgur.com/VweQjCB.jpg" title="source: imgur.com" /></a>
    <h3>Will: A Full stack Javascript developer and who enjoys using new technology to find the creative and elegant solutions.s</h1>
  </div>
</section>
