<section class="navbar">
  <div class="bg-blue">
    <!-- <h2>Quiver App</h2> -->
    <!-- <p>For bands and venues (under construction)</p> -->
    <!-- TODO: -->
    <!-- add our logo here from assets -->
    <img ng-src="../../../assets/quiver-logo-ver2.png" alt="Quiver App">
    <div class="nav-links">
      <ul>
        <li class="nav-item" ng-repeat="route in navBarCtrl.routes">
          <a href="{{ route.url }}">{{ route.name }}</a>
        </li>
      </ul>
      <div ng-hide="navbarCtrl.hideButtons">
        <button class="btn-std" ng-click="navBarCtrl.logout()">logout</button>
      </div>
    </div>
  </div>
</section>
