@import "../../scss/lib/_vars.scss";

.venue-search {

  input {
    width: 100%;
  }

  .venue-item-container {
    padding-left: 0px;
    margin-left: 0px;

    .pagination-controls-wrapper {
      background-color: #82878e;
      border-radius: 5px;
      width: 75%;

      .pagination {

        li {
          display: inline-block;
          font-size: 2vw;
          border-radius: 5px;
          padding: 2%;
          padding-left: 3%;
          padding-right: 3%;
          margin: auto;
          margin-right: 5%;
          background-color: rgba(157, 68, 68, 1);


          a {
            text-decoration: none;
            color: #ffffff;
          }
        }
        li:hover {
          background-color: #fff;

          a {
            color: #000000;
          }
        }
        li.active {
          background-color: #fff;

          a {
            color: #000000;
          }
        }

      }
    }

    .venue-item {

      cursor: pointer;

      list-style: none;
      background-color: $site-secondary;
      color: $white;

      width: 70%;

      box-sizing: border-box;
      border-radius: 5px;

      margin: $gutter-sm;
      margin-left: 0px;
      padding: 10px;
      padding-left: 0px;

      :hover {
        background-color: rgba(57, 86, 131, .7);
      }

      .venue-item-div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: $gutter-sm;
        background-color: rgba(0, 0, 0, 0);

        img {
          margin: $gutter-sm;
          border-radius: 5px;
        }

        .venue-item-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          background-color: rgba(0, 0, 0, 0);
          margin: $gutter-sm;

          h2 {
            background-color: rgba(0, 0, 0, 0);
            margin-bottom: $gutter-std * 2;
          }

          h3 {
            background-color: rgba(0, 0, 0, 0);
          }
        }
      }
    }
    .venue-item:hover {
        background-color: rgba(57, 86, 131, .7);
    }
  }
}
