<section class="venue-search">
  <h2>find a venue</h2>

  <input ng-model="venueSearchCtrl.venueSearchTerm"
    type="text" name="search-bar" placeholder="search venues">

  <div class="venue-item-container">
    <ul>
      <li
        ng-repeat="venue in venueSearchCtrl.allVenues | fuzzySearch: venueSearchCtrl.venueSearchTerm"
        venue="item"
        delete-done=""
        ng-click="venueSearchCtrl.currentVenue = venue">

          {{venue.name}}
      </li>
    </ul>
  </div>

  <!-- <search-item></search-item> -->
</section>
