<section class="venue-search">
  <h2>find a venue</h2>

  <input ng-model="venueSearchCtrl.venueSearchTerm"
    type="text" name="search-bar" placeholder="search venues">

  <div class="venue-item-container">
    <ul>
      <div class="pagination-controls-wrapper">
        <dir-pagination-controls class="pagination" on-page-change="venueSearchCtrl.pageChange(newPageNumber, oldPageNumber)"></dir-pagination-controls>
      </div>
      <li class="venue-item"
        dir-paginate="venue in venueSearchCtrl.allVenues | fuzzySearch: venueSearchCtrl.venueSearchTerm | itemsPerPage: venueSearchCtrl.itemsPerPage"
        venue="item"
        ng-click="venueSearchCtrl.changeView(venue)">

        <div class="venue-item-div">
          <img ng-src="http://placehold.it/150x150/6f747c/ffffff" >

          <div class="venue-item-info">
            <h2> {{ venue.name }} </h2>

            <h3> {{ venue.address }} </h3>

          </div>

        </div>
      </li>
    </ul>
  </div>

</section>
