<section class="display-gear">

  <h2>Gear</h2>
  <div class="table-wrapper">

    <div name="audio" class="table-tab" ng-click="publicDisplayGearCtrl.showAudio()"><span>Audio</span></div>
    <div name="lighting" class="table-tab" ng-click="publicDisplayGearCtrl.showLighting()"><span>Lighting</span></div>
    <div name="stage" class="table-tab" ng-click="publicDisplayGearCtrl.showStage()"><span>Stage</span></div>

    <table name="audio" ng-if="publicDisplayGearCtrl.displayAudio">
      <tr ng-repeat="item in publicDisplayGearCtrl.gear.audio">
        <td> {{ item.name }} </td>
        <td> {{ item.description }} </td>
      </tr>
    </table>

    <table name="lighting" ng-if="publicDisplayGearCtrl.displayLighting">
      <tr ng-repeat="item in publicDisplayGearCtrl.gear.lighting">
        <td> {{ item.name }} </td>
        <td> {{ item.description }} </td>
      </tr>
    </table>

    <table name="stage" ng-if="publicDisplayGearCtrl.displayStage">
      <tr ng-repeat="item in publicDisplayGearCtrl.gear.stage">
        <td> {{ item.name }} </td>
        <td> {{ item.description }} </td>
      </tr>
    </table>
  </div>
</section>
